<div class="w-full grid lg:gap-x-8 justify-start">

  <%= render partial: "ui/breadcrumbs", locals: {
    links: [
      { href: labour_market_path, text: t("labour_market.root") },
    ]
  } %>

  <div class="flex flex-col gap-y-4">
    <%= render partial: "ui/heading-plus-subheading", locals: {
      heading: t("labour_market.root"),
      subheading: t("labour_market.root_subheading")
    } %>

    <%= render :layout => "labour_market/index/section", locals: {
      heading: t("labour_market.collective_agreements"),
      subheading: t("labour_market.collective_agreements_subheading"),
    }  do %>

      <%= render partial: "labour_market/agreements/list2", locals: {
        agreements: @highlighted_collective_agreements
      } %>

      <%= render partial: "labour_market/index/section-link", locals: {
        href: collective_agreements_path,
        text: t("labour_market.collective_agreements_more"),
      } %>

    <% end %>

    <%= render :layout => "labour_market/index/section", locals: {
      heading: t("labour_market.central_unions"),
      subheading: t("labour_market.central_unions_subheading"),
    }  do %>

      <%= render partial: "labour_market/organisations/list", locals: {
        organisations: @highlighted_central_unions,
      } %>

      <%= render partial: "labour_market/index/section-link", locals: {
        href: central_unions_path,
        text: t("labour_market.central_unions_more"),
      } %>

    <% end %>

    <% links = [
      { href: central_unions_path, text: t("labour_market.central_unions") },
      { href: collective_agreements_path, text: t("labour_market.collective_agreements") },
    ] %>

  </div>

</div>
