<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="lg:max-w-lg flex flex-col">

    <%= render partial: "ui/breadcrumbs", locals: {
      links: [
        { href: "/labour-market", text: "Labour Market" },
        { href: "/labour-market/unions", text: "Unions" },
      ]
    } %>

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mt-4">
      <%= @union.name %>
    </h1>

    <section aria-labelledby="information-heading" class="mt-8">
      <h2 id="information-heading" class="sr-only">Information</h2>
      <div class="prose w-full">
        <%= render_union_description(@union).html_safe %>
      </div>
    </section>

    <section class="flex flex-col gap-y-4 mt-16">
      <h2 class="text-xl font-semibold text-gray-900">
        Collective Agreements
      </h2>
      <ol class="divide-y divide-gray-100 max-w-full overflow-hidden">
        <% @union.agreements.each do |agreement| %>

          <li class="flex">
            <div class="mr-4 shrink-0">
              <img alt="" class="h-full w-full object-cover object-center max-w-[64px] max-h-[64px]"
                <% if agreement.image.attached? %>
                  src="<%= agreement.image.url %>"
                <% else %>
                  src="https://placehold.co/64x64"
                <% end %>
              />
            </div>
            <div>
              <a class="text-lg font-bold text-sky-600 underline" href="<%= collective_agreement_path(agreement) %>">
                <%= agreement.name %>
              </a>
              <p class="truncate text-ellipsis">
                <%= agreement.description_en.truncate(100) %>
              </p>
            </div>
          </li>

        <% end %>
      </ol>
    </section>

  </div>

  <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center max-w-full overflow-hidden">
    <div class="max-w-sm aspect-square relative overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-900 [&+*]:mt-8">
      <img alt="" class="h-full w-full object-cover object-center"
        <% if @union.logo.attached? %>
          src="<%= @union.logo.url %>"
        <% else %>
          src="https://placehold.co/512x512"
        <% end %>
      />
    </div>

     <dl class="divide-y divide-gray-100 max-w-full overflow-hidden">


      <% if @union.website.present? %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Website
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <a href="<%= @union.website %>" class="text-sky-600 underline"><%= @union.website %></a>
          </dd>
        </div>
      <% end %> 
    
    </dl>

  </div>
</div>