<%= I18n.l(Date.parse("2024-10-31")) %>

<% @blog_posts.each do |post| %>
    <article id="<%= post.slug %>" class="scroll-mt-16" style="padding-bottom:0px">
      <div>
        <header class="relative mb-10 xl:mb-0">
          <div class="pointer-events-none absolute left-[max(-0.5rem,calc(50%-18.625rem))] top-0 z-50 flex h-4 items-center justify-end gap-x-2 lg:left-0 lg:right-[calc(max(2rem,50%-38rem)+40rem)] lg:min-w-[32rem] xl:h-8">
            <a class="inline-flex" href="#pre-flight-checks">
              <time datetime="<%= post.published_at %>" class="hidden xl:pointer-events-auto xl:block xl:text-2xs/4 xl:font-medium xl:text-white/50">
                <%= I18n.l(post.published_at, format: :short) %>
              </time>
            </a>
            <div class="h-[0.0625rem] w-3.5 bg-gray-400 lg:-mr-3.5 xl:mr-0 xl:bg-gray-300"></div>
          </div>
          <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
            <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
              <div class="mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto">
                <div class="flex">
                  <a class="inline-flex" href="#pre-flight-checks">
                    <time datetime="<%= post.published_at %>" class="text-2xs/4 font-medium text-gray-500 xl:hidden dark:text-white/50">
                      <%= I18n.l(post.published_at, format: :short) %>
                    </time>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </header>
        <div class="mx-auto max-w-7xl px-6 lg:flex lg:px-8">
          <div class="lg:ml-96 lg:flex lg:w-full lg:justify-end lg:pl-32">
            <div class="flex flex-col gap-y-5 mx-auto max-w-lg lg:mx-0 lg:w-0 lg:max-w-xl lg:flex-auto typography" data-mdx-content="true">
              <div class="relative mt-8 overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-900 [&amp;+*]:mt-8">
                <img alt="" loading="lazy" width="1728" height="936" decoding="async" data-nimg="1" style="color:transparent" sizes="(min-width: 1280px) 36rem, (min-width: 1024px) 45vw, (min-width: 640px) 32rem, 95vw" src="<%= post.image %>">
                <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10 dark:ring-white/10"></div>
              </div>
              <h2>
                <a class="display-block my-2 text-lg font-bold" href="#pre-flight-checks">
                  <%= post.title %>
                </a>
              </h2>
              <div class="prose w-full">
                <%= render_post(post).html_safe %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
<% end %>