<div class="flex flex-col w-full">

  <%= render :layout => "labour_market/index/section", locals: {
    heading: "kollektivavtal.nu",
    subheading: "Twenty First Century Collective Power",
  }  do %>

    <div class="mt-16" id="substack-feed-embed"></div>
    <script>
      window.SubstackFeedWidget = {
        substackUrl: "everythingisamazing.substack.com",
        posts: 4,
        layout: "center"
      };
    </script>
    <script src="https://substackapi.com/embeds/feed.js" async></script>

  <% end %>

  <%= render :layout => "labour_market/index/section", locals: {
    heading: t("labour_market.collective_agreements"),
    subheading: "Employment terms negotiated at a sector level between employer organisations and central unions.",
  }  do %>

    <%= render :layout => "labour_market/index/section-grid" do %>
      <% @highlighted_collective_agreements.each do |agreement| %>
        <% file = main_attachment(agreement) %>
        <%= render partial: "labour_market/index/section-card", locals: {
          article: "",
          img: file.preview(resize_to_limit: [512, 512]).url,
          img_class: "",
          href: collective_agreement_path(agreement),
          label: agreement.name,
        } %>
      <% end %>
    <% end %>

    <%= render partial: "labour_market/index/section-link", locals: {
      href: collective_agreements_path,
      text: "More Collective Agreements &rarr;",
    } %>

  <% end %>

</div>