<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="lg:max-w-lg">

    <%= render partial: "ui/breadcrumbs", locals: {
      links: [
        { href: labour_market_path, text: t("labour_market.root") },
        { href: collective_agreements_path, text: t("labour_market.collective_agreements") },
      ]
    } %>

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mt-4">
      <%= @agreement.name %>
    </h1>

    <section aria-labelledby="information-heading" class="mt-4">
      <h2 id="information-heading" class="sr-only">Information</h2>

      <div class="flex flex-col">

      <div class="mt-4 space-y-6">
        <div class="prose w-full">
          <%= render_agreement_description(@agreement).html_safe %>
        </div>
      </div>

      <dl class="divide-y divide-gray-100 max-w-full overflow-hidden">
        <% @agreement.versions.reverse_chronological.each do |version| %>
          <div class="py-4">
            <dt class="text-sm font-medium leading-6 text-gray-900">
              <%= version.name %>
            </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
              <% if version.document.attached? %>
                <a
                  href="<%= rails_blob_url(version.document) %>"
                  class="text-sky-600 dark:text-sky-500 underline overflow-hidden whitespace-nowrap text-ellipsis block max-w-full"
                >
                  <%= version.document.filename.extension.upcase %>, <%= (version.document.byte_size / 1024).round(2) %> KB
                </a>
              <% end %>
            </dd>
          </div>
        <% end %>
      </dl>

      <% if @agreement.members.local_union.count > 0 %>
        <section class="flex flex-col gap-y-4 mt-16">
          <h2 class="text-xl font-semibold text-gray-900">
            <%= t("labour_market.local_unions") %>
          </h2>
          <ol class="divide-y divide-gray-100 max-w-full overflow-hidden">
            <% @agreement.members.local_union.each do |local_union| %>
              <li class="flex items-center">
                <div class="mr-4 shrink-0">
                  <img alt="" class="h-full w-full object-cover object-center max-w-[64px] max-h-[64px]"
                    <% if local_union.logo.attached? %>
                      src="<%= local_union.logo.url %>"
                    <% else %>
                      src="https://placehold.co/64x64"
                    <% end %>
                  />
                </div>
                <a class="text-lg text-sky-600 underline" href="<%= local_union_path(local_union) %>">
                  <%= local_union.name %>
                </a>
              </li>
            <% end %>
          </ol>
        </section>
      <% end %>

    </section>
  </div>

  <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center max-w-full overflow-hidden">
    <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg max-w-sm">
    
      <img alt="" class="h-full w-full object-cover object-center"
        <% if @agreement.image.attached? %>
          src="<%= @agreement.image.url %>"
        <% else %>
          src="https://placehold.co/512x512"
        <% end %>
      />
    </div>


    <dl class="divide-y divide-gray-100 max-w-full overflow-hidden">

      <% if @agreement.members.employer_association.count > 0 %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <%= t("labour_market.employer_associations") %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <ol class="flex flex-row gap-x-1 flex-wrap">
              <%- @agreement.members.employer_association.each do |signatory| -%><li class="inline after:content-[','] last:after:content-none"><a href="<%= employer_association_path(signatory) %>" class="text-sky-600 underline"><%= signatory.name %></a></li><%- end -%>
            </ol>
          </dd>
        </div>
      <% end %>

      <% if @agreement.members.national_union.count > 0 %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <%= t("labour_market.national_unions") %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <ol class="flex flex-row gap-x-1 flex-wrap">
              <%- @agreement.members.national_union.each do |signatory| -%><li class="inline after:content-[','] last:after:content-none"><a href="<%= national_union_path(signatory) %>" class="text-sky-600 underline"><%= signatory.name %></a></li><%- end -%>
            </ol>
          </dd>
        </div>
      <% end %>

      <% if current_user and current_user.role?("labour_market_admin") %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Labour Market Admin
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <%= link_to "Edit #{@agreement.name}", rails_admin.edit_path(model_name: 'labour_market~agreement', id: @agreement.id), class: "text-sky-600 underline" %>
          </dd>
        </div>
      <% end %>

    </dl>

  </div>

</div>
