<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="lg:max-w-lg">

    <%= render partial: "ui/breadcrumbs", locals: {
      links: [
        { href: labour_market_path, text: t("labour_market.root") },
        { href: collective_agreements_path, text: t("labour_market.collective_agreements") },
      ]
    } %>

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mt-4">
      <%= @agreement.name %>
    </h1>

    <section aria-labelledby="information-heading" class="mt-4">
      <h2 id="information-heading" class="sr-only">Information</h2>

      <div class="flex flex-col">

      <div class="mt-4 space-y-6">
        <div class="prose w-full">
          <% if @agreement.description.present? %>
            <%= render_agreement_description(@agreement).html_safe %>
          <% end %>
        </div>
      </div>
    </section>

    <% @agreement.versions.reverse_chronological.each do |version| %>
      <section class="mt-8">
        <h2 class="text-xl font-semibold text-gray-900">
          <%= version.name %>
        </h2>

        <table class="min-w-full divide-y divide-gray-300">
          <tbody class="divide-y divide-gray-200 bg-white">
            <% version.documents.each do |document| %>
              <tr class="py-4">
                <td class="w-16">
                  <%= image_tag document.file.preview(resize_to_limit: [64, 64]) %>
                </td>
                <td class="group relative whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  <a href="<%= rails_blob_url(document.file) %>" class="font-medium flex flex-col">
                    <span class="absolute -inset-x-0 -inset-y-0 -z-20"></span>
                    <span class="underline text-sky-600"><%= document.name %></span>
                    <span class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
                      <%= document.file.filename.extension.upcase %>, <%= (document.file.byte_size / 1024).round(2) %> KB
                    </span>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </section>
    <% end %>

      <% if @agreement.members.local_union.count > 0 %>
        <section class="flex flex-col gap-y-4 mt-16">
          <h2 class="text-xl font-semibold text-gray-900">
            <%= t("labour_market.local_unions") %>
          </h2>

          <table class="min-w-full divide-y divide-gray-300">
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @agreement.members.local_union.each do |organisation| %>
                <tr class="">
                  <td class="group relative whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="flex items-center">
                      <div class="size-11 shrink-0">
                        <div class="size-11 rounded-lg bg-slate-100">
                          <img
                            class="size-11"
                            <% if organisation.logo.attached? %>
                              src="<%= organisation.logo.url %>"
                            <% else %>
                              src="https://placehold.co/64x64"
                            <% end %>
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="ml-4">
                        <div class="font-medium text-gray-900">
                          <a href="<%= organisation_path(organisation) %>" class="hover:underline hover:text-sky-600">
                            <span class="absolute -inset-x-0 -inset-y-0 -z-20"></span>
                            <%= organisation.name %>
                          </a>
                        </div>
                        <div class="mt-1 text-gray-500">
                          <!-- -->
                        </div>
                      </div>
                    </div>
                  </td>
                  <!--
                    <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                      <div class="text-gray-900"></div>
                      <div class="mt-1 text-gray-500"></div>
                    </td>
                  -->
                </tr>
              <% end %>
            </tbody>
          </table>

        </section>
      <% end %>

    </section>
  </div>

  <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center max-w-full overflow-hidden">

    <% main_document = @agreement.documents.where(main_document: true).find { |d| d.file.attached? } %>
    <% if main_document.present? %>
      <div class="aspect-square overflow-hidden rounded-lg max-w-sm max-h-sm bg-slate-100 p-2">
        <%= image_tag(
          main_document.file.preview(resize_to_limit: [512, 512]),
          class: "h-full w-full object-contain object-center"
        ) %>
      </div>
    <% else %>
      <div class="aspect-square overflow-hidden rounded-lg max-w-sm max-h-sm">
        <img src="https://placehold.co/512x512" alt="" />
      </div>
    <% end %>

    <dl class="divide-y divide-gray-100 max-w-full overflow-hidden">

      <% if @agreement.members.employer_association.count > 0 %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <%= t("labour_market.employer_associations") %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <ol class="flex flex-row gap-x-1 flex-wrap">
              <%- @agreement.members.employer_association.each do |signatory| -%><li class="inline after:content-[','] last:after:content-none"><a href="<%= employer_association_path(signatory) %>" class="text-sky-600 underline"><%= signatory.name %></a></li><%- end -%>
            </ol>
          </dd>
        </div>
      <% end %>

      <% if @agreement.members.central_union.count > 0 %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <%= t("labour_market.central_unions") %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <ol class="flex flex-row gap-x-1 flex-wrap">
              <%- @agreement.members.central_union.each do |signatory| -%><li class="inline after:content-[','] last:after:content-none"><a href="<%= central_union_path(signatory) %>" class="text-sky-600 underline"><%= signatory.name %></a></li><%- end -%>
            </ol>
          </dd>
        </div>
      <% end %>

      <% if current_user and current_user.role?("labour_market_admin") %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Labour Market Admin
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <%= link_to "Edit #{@agreement.name}", rails_admin.edit_path(model_name: 'labour_market~agreement', id: @agreement.id), class: "text-sky-600 underline" %>
          </dd>
        </div>
      <% end %>

    </dl>

  </div>

</div>
