<div class="flex flex-col gap-y-8">
  <h1 class="font-bold text-4xl m-0">
    Login
  </h1>

<%= form_for(resource, as: resource_name, url: user_session_path, builder: TailwindBuilder, :html => {class: "flex flex-col gap-8 max-w-xs" }) do |f| %>
  <div class="rounded-md px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="rounded-md px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <%# if devise_mapping.rememberable? %>
    <%#div class="field flex flex-row gap-x-2">
      <%# f.check_box :remember_me %>
      <%# f.label :remember_me %>
    <%#/div>
  <%# end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

</div>