<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="flex flex-col">

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <% if @organisation_type == :central_union %>
        <%= t("labour_market.central_unions") %>
      <% elsif @organisation_type == :employer_association %>
        <%= t("labour_market.employer_associations") %>
      <% elsif @organisation_type == :local_union %>
        <%= t("labour_market.local_unions") %>
      <% end %>
    </h1>

    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
                <!--<th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>-->
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @organisations.each do |organisation| %>
                <tr class="group relative">
                  <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                    <div class="flex items-center">
                      <div class="size-11 shrink-0">
                        <div class="size-11 rounded-lg bg-slate-100">
                          <img
                            class="size-11"
                            <% if organisation.logo.attached? %>
                              src="<%= organisation.logo.url %>"
                            <% else %>
                              src="https://placehold.co/64x64"
                            <% end %>
                            alt=""
                          />
                        </div>
                      </div>
                      <div class="ml-4">
                        <div class="font-medium text-gray-900">
                          <a href="<%= organisation_path(organisation) %>" class="group-hover:underline group-hover:text-sky-600">
                            <span class="absolute -inset-x-0 -inset-y-0 -z-20"></span>
                            <%= organisation.name %>
                          </a>
                        </div>
                        <div class="mt-1 text-gray-500">
                          <!-- -->
                        </div>
                      </div>
                    </div>
                  </td>
                  <!--
                    <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                      <div class="text-gray-900"></div>
                      <div class="mt-1 text-gray-500"></div>
                    </td>
                  -->
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center max-w-full overflow-hidden">
    <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg max-w-sm">
      <img alt="" class="h-full w-full object-cover object-center" src="https://placehold.co/512x512" />
    </div>
  </div>
  -->

</div>
