<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="lg:max-w-lg flex flex-col">

    <% if @organisation.central_union? %>
      <%= render partial: "ui/breadcrumbs", locals: {
        links: [
          { href: labour_market_path, text: t("labour_market.root") },
          { href: central_unions_path, text: t("labour_market.central_unions") },
        ]
      } %>
    <% elsif @organisation.employer_association? %>
      <%= render partial: "ui/breadcrumbs", locals: {
        links: [
          { href: labour_market_path, text: t("labour_market.root") },
          { href: employer_associations_path, text: t("labour_market.employer_associations") },
        ]
      } %>
    <% elsif @organisation.local_union? %>
      <%= render partial: "ui/breadcrumbs", locals: {
        links: [
          { href: labour_market_path, text: t("labour_market.root") },
          { href: local_unions_path, text: t("labour_market.local_unions") },
        ]
      } %>
    <% end %>

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mt-4">
      <%= @organisation.name %>
    </h1>

    <section aria-labelledby="information-heading" class="mt-8">
      <h2 id="information-heading" class="sr-only">Information</h2>
      <div class="prose w-full">
        <%= render_organisation_description(@organisation).html_safe %>
      </div>
    </section>

    <% if @organisation.local_union? and @organisation.agreements.count > 0 %>
      <section class="flex flex-col gap-y-4 mt-16">
        <h2 class="text-xl font-semibold text-gray-900">
          Collective Agreement
        </h2>

        <table class="min-w-full divide-y divide-gray-300">
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @organisation.agreements.first(1).each do |agreement| %>
              <tr class="py-4">
                <td class="w-16">
                  <% image_version = agreement.versions.reverse_chronological.find { |v| v.document.attached? } %>
                  <% if image_version.present? %>
                    <%= image_tag image_version.document.preview(resize_to_limit: [64, 64]) %>
                  <% else %>
                    <%= image_tag "https://placehold.co/64x64" %>
                  <% end %>
                </td>
                <td class="group relative whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  <a href="<%= collective_agreement_path(agreement) %>" class="font-medium text-sky-600 underline">
                    <span class="absolute -inset-x-0 -inset-y-0 -z-20"></span>
                    <%= agreement.name %>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </section>
    <% end %>

    <% if @organisation.central_union? or @organisation.employer_association? and @organisation.agreements.count > 0 %>
      <section class="flex flex-col gap-y-4 mt-16">
        <h2 class="text-xl font-semibold text-gray-900">
          <%= t("labour_market.collective_agreements") %>
        </h2>

        <table class="min-w-full divide-y divide-gray-300">
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @organisation.agreements.each do |agreement| %>
              <tr class="py-4">
                <td class="w-16">
                  <% image_version = agreement.versions.reverse_chronological.find { |v| v.document.attached? } %>
                  <% if image_version.present? %>
                    <%= image_tag image_version.document.preview(resize_to_limit: [64, 64]) %>
                  <% else %>
                    <%= image_tag "https://placehold.co/64x64" %>
                  <% end %>
                </td>
                <td class="group relative whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  <a href="<%= collective_agreement_path(agreement) %>" class="font-medium text-sky-600 underline">
                    <span class="absolute -inset-x-0 -inset-y-0 -z-20"></span>
                    <%= agreement.name %>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </section>
    <% end %>

    <% if @organisation.central_union? and @organisation.members.count > 0 %>
      <section class="flex flex-col gap-y-4 mt-16">
        <h2 class="text-xl font-semibold text-gray-900">
          <%= t("labour_market.local_unions") %>
        </h2>


        <table class="min-w-full divide-y divide-gray-300">
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @organisation.members.each do |organisation| %>
              <tr class="">
                <td class="group relative whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  <div class="flex items-center">
                    <div class="size-11 shrink-0">
                      <div class="size-11 rounded-lg bg-slate-100">
                        <img
                          class="size-11"
                          <% if organisation.logo.attached? %>
                            src="<%= organisation.logo.url %>"
                          <% else %>
                            src="https://placehold.co/64x64"
                          <% end %>
                          alt=""
                        />
                      </div>
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900">
                        <a href="<%= organisation_path(organisation) %>" class="underline text-sky-600">
                          <span class="absolute -inset-x-0 -inset-y-0 -z-20"></span>
                          <%= organisation.name %>
                        </a>
                      </div>
                      <div class="mt-1 text-gray-500">
                        <!-- -->
                      </div>
                    </div>
                  </div>
                </td>
                <!--
                  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                    <div class="text-gray-900"></div>
                    <div class="mt-1 text-gray-500"></div>
                  </td>
                -->
              </tr>
            <% end %>
          </tbody>
        </table>
       
      </section>
    <% end %>

  </div>

  <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center max-w-full overflow-hidden">
    <div class="max-w-sm aspect-square relative overflow-hidden rounded-xl bg-gray-50 dark:bg-gray-900 [&+*]:mt-8">
      <img alt="" class="h-full w-full object-cover object-center"
        <% if @organisation.logo.attached? %>
          src="<%= @organisation.logo.url %>"
        <% elsif @organisation.local_union? and @organisation.parents and @organisation.parents.first.logo.attached? %>
          src="<%= @organisation.parents.first.logo.url %>"
        <% else %>
          src="https://placehold.co/512x512"
        <% end %>
      />
    </div>

    <dl class="divide-y divide-gray-100 max-w-full overflow-hidden">

      <% if @organisation.local_union? and @organisation.parents %>
       <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <%= t("labour_market.central_union") %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <a href="<%= central_union_path(@organisation.parents.first) %>" class="text-sky-600 underline"><%= @organisation.parents.first.name %></a>
          </dd>
        </div>
      <% end %>

      <% if @organisation.website.present? %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            <%= t("website") %>
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <a href="<%= @organisation.website %>" class="text-sky-600 underline"><%= @organisation.website %></a>
          </dd>
        </div>
      <% end %> 

      <% if current_user and current_user.role?("labour_market_admin") %>
        <div class="lg:px-4 py-4">
          <dt class="text-sm font-medium leading-6 text-gray-900">
            Labour Market Admin
          </dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
            <%= link_to "Edit #{@organisation.name}", rails_admin.edit_path(model_name: 'labour_market~organisation', id: @organisation.id), class: "text-sky-600 underline" %>
          </dd>
        </div>
      <% end %>

    </dl>

  </div>
</div>