<div class="w-full grid lg:gap-x-8 justify-start">
  <div class="">

    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      <%= t("labour_market.root") %>
    </h1>

      <%= render :layout => "labour_market/index/section", locals: {
        heading: t("labour_market.collective_agreements"),
        subheading: t("labour_market.collective_agreements_subheading"),
      }  do %>

        <%= render :layout => "labour_market/index/section-grid" do %>
          <% @highlighted_collective_agreements.each do |agreement| %>
            <% file = main_attachment(agreement) %>
            <%= render partial: "labour_market/index/section-card", locals: {
              img: file.preview(resize_to_limit: [512, 512]).url,
              href: collective_agreement_path(agreement),
              label: agreement.name,
            } %>
          <% end %>
        <% end %>

        <%= render partial: "labour_market/index/section-link", locals: {
          href: collective_agreements_path,
          text: t("labour_market.collective_agreements_more"),
        } %>

      <% end %>

      <%= render :layout => "labour_market/index/section", locals: {
        heading: t("labour_market.central_unions"),
        subheading: t("labour_market.central_unions_subheading"),
      }  do %>

        <%= render :layout => "labour_market/index/section-grid" do %>
          <% @highlighted_central_unions.each do |organisation| %>
            <% logo = organisation_logo(organisation) %>
            <%= render partial: "labour_market/index/section-card", locals: {
              img: logo.url,
              href: organisation_path(organisation),
            label: organisation.name,
          } %>
        <% end %>

      <% end %>

      <%= render partial: "labour_market/index/section-link", locals: {
        href: central_unions_path,
        text: t("labour_market.central_unions_more"),
      } %>

    <% end %>

    <% links = [
      { href: central_unions_path, text: t("labour_market.central_unions") },
      { href: collective_agreements_path, text: t("labour_market.collective_agreements") },
    ] %>

  </div>

</div>
