<div class="w-full max-w-2xl lg:grid lg:max-w-7xl lg:grid-cols-[1fr_max-content] lg:gap-x-8 justify-start">
  <div class="lg:max-w-lg">

    <%= render partial: "ui/breadcrumbs", locals: {
      links: [
        { href: "/labour-market", text: "Labour Market" },
        { href: "/labour-market/collective-agreements", text: "Collective Agreements" },
      ]
    } %>

    <div class="mt-4">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        <%= @agreement.name %>
      </h1>
    </div>

    <section aria-labelledby="information-heading" class="mt-4">
      <h2 id="information-heading" class="sr-only">Information</h2>

      <div class="flex flex-col">

      <div class="mt-4 space-y-6">
        <div class="prose w-full">
          <%= render_collective_agreement_description(@agreement).html_safe %>
        </div>
      </div>

      <dl class="divide-y divide-gray-100 max-w-full overflow-hidden">
        <% @agreement.versions.reverse_chronological.each do |version| %>
          <div class="py-4">
            <dt class="text-sm font-medium leading-6 text-gray-900">
              <%= version.name %>
            </dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
              <a
                href="<%= rails_blob_url(version.document) %>"
                class="text-sky-600 dark:text-sky-500 underline overflow-hidden whitespace-nowrap text-ellipsis block max-w-full"
              >
                <%= version.document.filename.extension.upcase %>, <%= (version.document.byte_size / 1024).round(2) %> KB
              </a>
            </dd>
          </div>
        <% end %>
      </dl>

    </section>
  </div>

  <!-- Product image -->
  <div class="mt-10 lg:col-start-2 lg:row-span-2 lg:mt-0 lg:self-center max-w-full overflow-hidden">
    <div class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg max-w-sm">
    
      <img alt="" class="h-full w-full object-cover object-center"
        <% if @agreement.image.attached? %>
          src="<%= @agreement.image.url %>"
        <% else %>
          src="https://placehold.co/512x512"
        <% end %>
      />
    </div>


    <dl class="divide-y divide-gray-100 max-w-full overflow-hidden">


      <div class="lg:px-4 py-4">
        <dt class="text-sm font-medium leading-6 text-gray-900">
          Unions
        </dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 max-w-full overflow-hidden">
          <ol class="flex flex-row gap-x-1 flex-wrap">
            <%- @agreement.signatories.each do |signatory| -%><li class="inline after:content-[','] last:after:content-none"><a href="<%= union_path(signatory) %>" class="text-sky-600 underline"><%= signatory.name %></a></li><%- end -%>
          </ol>
        </dd>
      </div>

    </dl>

  </div>

</div>
