<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= content_for(:title) || "kollektivavtal.nu" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#05090f"/>
    <meta property="og:description" content="Twenty First Century Collective Power" />
    <meta property="og:title" content="kollektivavtal.nu" />
    <meta property="og:image" content="https://kollektivavtal.nu/og.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />

    <%# Includes all stylesheet files in app/views/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%# stylesheet_link_tag :app %>
    <%= javascript_importmap_tags %>
    <%= cloudflare_turnstile_script_tag %>
    <%# stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
   <%= content_for?(:body) ? yield(:body) : yield %>
    <% if notice %>
      <%= render partial: "ui/flash-message", locals: {
        text: notice
      } %>
    <% end %>
  </body>
</html>
