<% content_for :body do %>
  <%= render "ui/navbar" %>

  <main class="grid gap-8 grid-cols-1 grid-rows-[min-content_min-content_min-content] lg:grid-cols-[max(1fr,64rem)_24rem] md:grid-rows-[min-content_min-content] pt-8 dynamic-padding max-w-full overflow-hidden lg:max-w-5xl mx-auto">
    <div class="md:col-start0 md:row-start-1">
      <%= yield(:one) %>
    </div>
    <div class="md:col-start-2 md:row-start-1 md:row-end-3">
      <%= yield(:two) %>
    </div>
    <div class="md:col-start-1 md:row-start-2">
      <%= yield(:three) %>
    </div>
  </main>

  <%= render "ui/footer" %>
<% end %>

<%= render template: "layouts/application" %>